a {
  height: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none !important;
}

* {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.tipbox {
  position: fixed;
  width: 30%;
  padding: 20px;
  z-index: 3;
  top: 60px;
  left: 35%;
  z-index: 99999;
}
.tipbox div {
  text-align: center;
  margin: 10px auto;
  box-sizing: none;
  position: relative;
}
.modal {
  z-index: 9999999;
}
.modal-dialog {
  z-index: 9;
}
.modal .form-group {
  margin-bottom: 8px;
}

.modal .modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal .form-group label {
  font-size: 17px;
}

.modal .form-group input,
.modal .form-group select {
  box-sizing: unset !important;
  padding: 4px 0 !important;
  text-indent: 0.5em;
}

.modal .input-err {
  color: #ef5552;
}

option {
  font-size: 15px;
  padding: 10px;
}

body,
html {
  width: 100% !important;
  height: 100% !important;
}

.nav-caption a:hover,
.nav-caption a {
  color: #222;
  text-decoration: none;
  position: relative;
  display: block;
  height: initial;
}

.nav-caption span {
  position: relative;
  top: 5px;
}

nav.left-side-menu {
  width: 200px;
  height: 100%;
  float: left;
  position: fixed;
  z-index: 999;
  border-right: 0.8px solid #eee;
  transition: 0.2s;
  user-select: none;
  background: #fff;
}

section {
  width: calc(100% - 200px);
  height: 100vh;
  margin-left: 200px;
  transition: 0.2s;
  margin-right: 0 !important;
}

header {
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  left: 200px;
  z-index: 999;
  transition: 0.2s;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.25);
}

header input,
header input:focus {
  box-shadow: none !important;
}

header .float-right h3 {
  margin-bottom: 0;
}

header a {
  transition: 0.2s;
  padding: 0 2px;
  margin: 0 5px;
}

header a:hover {
  opacity: 0.5;
}

.content {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 6em;
  transition: 0.2s;
}

.content .bg-white {
  box-shadow: 0 0 35px 0 rgba(121, 122, 122, 0.116);
}

.content > div > h2,
.content > div > .float-right {
  display: inline-block;
  width: initial;
}

.content-title {
  color: #6c757d;
  font-weight: 430;
  padding-top: 0 !important;
  font-family: Nunito, sans-serif;
}
.input-group {
  margin-bottom: 7px;
}
.input-group label {
  font-weight: 600;
  font-family: Nunito, sans-serif;
}
section.section-active .content {
  width: calc(100% - 50px);
  position: absolute;
  left: 50px;
}

section.section-active header {
  width: calc(100% - 50px);
  left: 50px;
}

header .input-group input {
  height: inherit !important;
}

.left-side-menu-active {
  text-align: center;
  width: 50px !important;
}

.left-side-menu-active span {
  display: none !important;
}
.left-side-menu .iconfont {
  padding-right: 5px;
  font-size: 16px !important;
}
.left-side-menu-active .iconfont {
  padding-right: 0;
}
.nav-caption {
  height: 55px !important;
  box-sizing: border-box;
}

.nav-caption span {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  height: 39px;
  line-height: 35px;
  letter-spacing: 2px;
  padding-left: 10px;
}

.left-side-menu-active .list-group-item {
  padding: 10px 0;
  padding-top: 10px;
}

.nav-caption i {
  display: inline-block;
  transition: 0.3s;
  width: 39px;
}

.nav-caption i img {
  width: 100%;
}

.list-group-item {
  transition: 0.1s;
  height: 50px;
  line-height: 35px;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: cilp;
}

.list-group-item.active {
  background: #4a5fc6;
  border-color: #4a5fc6;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

nav.left-side-menu * {
  border: 0;
}

.zoom-nav {
  text-align: center;
  position: absolute;
  z-index: 999;
  bottom: 0;
  /**/
}

.zoom-nav,
.zoom-nav.active {
  background: #ccc5 !important;
  color: #222 !important;
  transition: 1s;
}

.zoom-nav:hover {
  background: #ccc3 !important;
}

header > .px-2 > div {
  display: inline-block;
}

button.btn-search {
  box-shadow: 0 0 5px #f225;
}

.breadcrumb {
  /* 面包屑样式 */
  background: #fff0;
  padding-top: 5px;
}
.row {
  padding: 8px;
}
th.caozuo,
td.caozuo {
  text-align: center;
}
td.caozuo button {
  margin: 0 2px;
  padding: 5px 20px;
}
th,
td {
  vertical-align: middle !important;
}

/* 分页 */
.pagination b {
  font-size: 12px;
}
.page-link {
  cursor: pointer;
}
@media (max-width: 768px) {
  nav.left-side-menu {
    text-align: center;
    width: 50px !important;
  }

  .left-side-menu i.iconfont {
    padding: 0;
  }

  .left-side-menu span {
    display: none !important;
  }

  section {
    width: calc(100% - 50px);
    height: 80vh !important;
    margin-left: 50px;
  }

  .list-group-item {
    padding: 10px 0;
    padding-top: 10px;
  }

  .content {
    width: calc(100% - 50px);
    height: 100%;
    position: absolute;
    left: 50px;
  }

  header {
    width: calc(100% - 50px);
    left: 50px;
  }
}
