.form-group input,
.form-group textarea {
  border: 1px dashed rgba(100, 100, 100, 0.1);
  color: rgb(85, 84, 84);
  font-size: 14px;
}
.form-group label {
  color: rgb(116, 116, 116);
  font-size: 16px;
  font-weight: 550;
}
textarea::-webkit-scrollbar {
  opacity: 0;
}
i {
  outline: none;
}
.delItemBtn {
  color: #0002;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0 3px #0000;
  border: 1px dashed #0002;
  padding: 5px;
  border-radius: 50%;
  transition: 0.4s;
}
.delItemBtn:hover {
  color: #0006;
  border: 1px dashed #ccc0;
  box-shadow: 0 0 3px #333;
}
